.component-movie-result-row {
  border-bottom: 1px solid #ccc;
  padding: 20px;
  height: 200px;
  width: 100%;
  padding-bottom: 40px;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  cursor: pointer;
}
.component-movie-result-row2 {
  border-bottom: 1px solid #ccc;
  padding: 20px;
  height: wrap;
  width: 100%;
  padding-bottom: 40px;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
}

.component-movie-result-row:hover {
  background-color: #eee;
}

.btns{
  position: absolute;
  bottom: 0;
  right: 0;
}
.component-movie-result-row .title {
  position: relative;
  top: -15px;
}
.component-movie-result-row2 .title {
  position: relative;
  top: -15px;
}
.component-movie-result-row .info {
  float: right;
  position: relative;
  top: 8px;
  right: 10px;
  color: #ccc;
  display: none;
}

.component-movie-result-row:hover .info {
  display: inline-block;
}

.coverArt {
  width: 200px;
  height: 230px;
  float: left;
  padding-left: 10px;

  padding-right: 10px;
}

.trailer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}